@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scan-line {
    animation: scanLine 2s linear infinite;
  }
  @keyframes scanLine {
    0% { top: 0; }
    50% { top: 100%; }
    100% { top: 0; }
  }
}
